<!DOCTYPE html>
<html>
	<head>
		<title>RequireJS Bootstrap</title>

		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>

		<style type="text/css">
		</style>
	</head>

	<body>
		{% block body %}{% endblock %}

		<!--
		<script type="text/javascript" charset="utf8" src="/js/handlebars-1.0.0.beta.6.js"></script>
		<script type="text/javascript" charset="utf8" src="/js/moment.min.js"></script>
		-->

		<script type="text/javascript" src="js/require.js"></script>
		<script type="text/javascript">
			require.config({
				baseUrl: "/js",
				paths: {
					module: 'app/module',
					jquery: 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min',
					jqueryui: 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.19/jquery-ui.min',
					facebook: 'https://connect.facebook.net/en_US/all',
					browserid: 'https://browserid.org/include'
				}
			});
		</script>
		{% block tail %}{% endblock %}
	</body>
</html>